@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Video Stream Example</h1>
        <p>Example of normal video stream</p>
        <video id="VideoPlayer" src="http://localhost:2914/api/streaming" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' controls autoplay width="400" height="350" loop="true" />
    </div>
