@using Blazor.FlexGrid
@using Show_SimpleDreamer_API_Servers.Shared
@using Blazor.FlexGrid.DataAdapters
@using Blazor.FlexGrid.Components.Events
@using System.Timers;
@page "/masterdetailgrid"

<h1>Customers</h1>

<h1>@_counter</h1>

<button class="btn btn-primary" @onclick="@IncrementCount">Click me</button>


@code{
int _counter;
Timer _timer;



protected override async Task OnInitAsync()
{
    _timer = new System.Timers.Timer(1000);
    _timer.Elapsed += new ElapsedEventHandler(_timer_Elapsed);
    _timer.Start();
}

public void _timer_Elapsed(object sender, ElapsedEventArgs e)
{
    Console.WriteLine(DateTime.Now.ToString("{hh:mm:ss.fff}"));
    _counter++;

}

public void IncrementCount()
{
    _counter++;
}

}